aniso8601==8.0.0
gunicorn
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql==0.0.3
mysql-connector-python==8.0.21
mysqlclient==2.0.1
protobuf==3.12.2
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
